<!-- Carga el visor de PDF.js -->
<%= javascript_include_tag 'pdfjs/web/viewer.js', plugin: 'redmine_pdf_preview_kaizen2b' %>
<%= stylesheet_link_tag  'pdfjs/web/viewer.css', plugin: 'redmine_pdf_preview_kaizen2b' %>

<div style="height:80vh;">
  <iframe
    src="<%= asset_path('pdfjs/web/viewer.html', plugin: 'redmine_pdf_preview_kaizen2b') %>
         ?file=/attachments/download/<%= @attachment.id %>/<%= URI.encode_www_form_component(@attachment.filename) %>"
    width="100%" height="100%" frameborder="0">
  </iframe>
</div>
